wheel

argon2-cffi
passlib
authlib
psycopg2
pyjwt
redis
lxml
pyyaml
user-agents

flask
flask-cors
flask-sqlalchemy
flask-admin
flask-socketio

gunicorn

pylint
pylint-flask
pylint-flask-sqlalchemy
flake8