wheel

argon2-cffi
passlib
authlib
psycopg2
pyjwt
redis
lxml
pyyaml
user-agents
firebase-admin

flask
flask-cors
flask-sqlalchemy
flask-admin
flask-socketio
flask-limiter

gunicorn

pylint
pylint-flask
pylint-flask-sqlalchemy
flake8